
#if ($status=='SHOWRECORDS')

   <HTML>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <script type='text/javascript' src='JavaScript/RMSScripts.js'></script>

   #parse("WinCheck.vm")
   #parse("NavMenu.vm")

   <script>
   function ls() {
      try {
         document.links[0].focus();
      } catch (e) {}
   }
   var currislocal;
   var currlstdid;
   var currformtypeid;
   var currdtdefid;
   var currformacr;
   var currformdesc;
   function formadmin(islocal,lstdid,formtypeid,dtdefid,formacr) {
      getFrameByName('wmframe').location.replace('selectformrows.am');
      currislocal=islocal;
      currlstdid=lstdid;
      currformtypeid=formtypeid;
      currdtdefid=dtdefid;
      currformacr=formacr;
   }
   function formgo(islocal,lstdid,formtypeid,dtdefid,formacr,formdesc) {
      getFrameByName('wmframe').location.replace('selectformaction.am');
      currislocal=islocal;
      currlstdid=lstdid;
      currformtypeid=formtypeid;
      currdtdefid=dtdefid;
      currformacr=formacr;
      currformdesc=formdesc;
   }
   var currformhaid;
   var currhadesc;
   function catadmin(formhaid,hadesc) {
      currformhaid=formhaid;
      currhadesc=hadesc;
      getFrameByName('wmframe').location.replace('selectformrows2.am');
   }
   function removecat(formhaid) {
      currformhaid=formhaid;
      if (confirm("Are you sure you want to collapse (remove) this category?")) {
         getFrameByName('wmframe').location.replace('removecat.futil');
      }   
   }
   function profileMenu(dtprofileid) {
      getFrameByName('wmframe').location.href('profilemenu.futil?dtprofileid=' + dtprofileid);
   }
   function profileEdit(dtprofileid) {
      getFrameByName('wmframe').location.href('modifyprofile.futil?dtprofileid=' + dtprofileid);
   }
   function profileDelete(dtprofileid,profileacr) {
      if (confirm("Are you sure you want to delete this profile [" + profileacr + "]?")) {
         getFrameByName('wmframe').location.href('removeprofilesubmit.futil?dtprofileid=' + dtprofileid);
      }   
   }
   </script>

   <HEAD><TITLE>FORMS EditTempRecord Controller</TITLE></HEAD>
   <BODY bgcolor=$bgcolor background="$bgimage" onLoad="ls()" >

#parse("WinMenu.vm")

<div class="ui">
 <div class="content" style="width:90%;">
  <div class="t"></div>
  <!-- Your content goes here -->

      <table class=maintable>
        <tr valign=top>
        <td class=headerleft>
        #include("CornerImage.vm")
        </td>
        <td class=headercenter>
        <br>
      <H2><nobr>Select Record from List</nobr></H2>
        <p>
        </td>
        <td class=headerright>
        #parse("ButtonsOABNLH.vm")
        </td>
        <tr>
        <td height=100% colspan=3 valign=top style="padding-top:0">

     <IFRAME src="edittemprecordrows.do" height=100% width=99% scrolling="auto" class="rowcontent"
       marginheight="0" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
       id="thisframe" name="thisframe" style="visibility:hidden" onload="document.getElementById('thisframe').style.visibility='visible';">
     </IFRAME>

        </td>
        </tr>
      </table>

 </div>
 <div class="b" style="width:90%"><div></div></div>
</div>

   </BODY>
   </HTML>

#elseif ($status=='SORT')

  <html>
  <body bgcolor=#CCCCCC>
  </body>
  </html>
  <script>
     parent.location.replace("selectform.do");
  </script>   

#elseif ($status=='OPTIONS')

  <html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <BODY bgcolor=$bgcolor background="$bgimage" >
  </body>
  </html>
  <script>
     parent.location.replace("selectform.do");
  </script>   

#end

