
#if ($status=="KEYVARINFO")

<HTML>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
<script>
    parent.document.getElementById('headeritem').innerHTML="Edit Form Record - Enter Key Field Info";
    parent.document.getElementById('menuother').style.display='none';
    parent.document.getElementById('menusubmit').style.display='inline';
</script>

<style>
td,input {
   font-size:8pt;
}
</style>

<script>
var _alreadyv_=false;
function omf() {
   if (!_alreadyv_) {
#if ($keyvarlist.size()>0) 
      document.getElementById('$keyvarlist.get(0).get("datatablecoldef").getColumnname()').focus();
#end      
      _alreadyv_=true;
   }
}
function upcase(e) {
   try {
      e.value=e.value.toUpperCase();
   } catch (e2) {}
}
alrdy=false;
function validate() {
   if (!alrdy) {
      alrdy=true;
      document.forms[0].submit();
   }
}
</script>

<body class="bgcolor" onmouseover="omf();" onLoad="enterKeyFunc('validate();');">

   <br>
   <table cellpadding=3 cellspacing=3>

      <form target="_parent" action='editformrecord.do' method=POST >
      <input id="_function_" name="_function_" value="keyvaluesub"  type="hidden">
   #foreach ($i in $keyvarlist) 
      <tr>
         <td align=right><nobr><b>$i.datatablecoldef.columnname:</b></nobr></td>
         <td><input id="$i.datatablecoldef.columnname" name="$i.datatablecoldef.columnname" type="text" size=25 style="text-align:center"
                #if ($i.colvalue!="") 
                   value="$i.colvalue" readonly=true
                #end   
             ></td>
      </tr>
   #end
      <tr>
         <td align=left colspan=2 style="padding-top:15px;padding-left:15px;color:#002288"><nobr>NOTE:  Leave fields blank to show all database records</nobr></td>
      </tr>
      <input name="sbutton" type="button" style="display:none" onclick='validate()'>
      </form>
   </table>

</body>
#if (!($keyvarlist.size()>0)) 
<script>
   document.forms[0].submit();
</script>
#end      
</html>

#elseif ($status=='MATCHRECORDS')

   <HTML>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <script type='text/javascript' src='JavaScript/RMSScripts.js'></script>

   #parse("WinCheck.vm")
   #parse("NavMenu.vm")

   <script>
   function ls() {
      try {
         document.links[0].focus();
      } catch (e) {}
   }
   var currislocal;
   var currlstdid;
   var currformtypeid;
   var currdtdefid;
   var currformacr;
   var currformdesc;
   function formadmin(islocal,lstdid,formtypeid,dtdefid,formacr) {
      getFrameByName('wmframe').location.replace('selectformrows.am');
      currislocal=islocal;
      currlstdid=lstdid;
      currformtypeid=formtypeid;
      currdtdefid=dtdefid;
      currformacr=formacr;
   }
   function formgo(islocal,lstdid,formtypeid,dtdefid,formacr,formdesc) {
      getFrameByName('wmframe').location.replace('selectformaction.am');
      currislocal=islocal;
      currlstdid=lstdid;
      currformtypeid=formtypeid;
      currdtdefid=dtdefid;
      currformacr=formacr;
      currformdesc=formdesc;
   }
   var currformhaid;
   var currhadesc;
   function catadmin(formhaid,hadesc) {
      currformhaid=formhaid;
      currhadesc=hadesc;
      getFrameByName('wmframe').location.replace('selectformrows2.am');
   }
   function removecat(formhaid) {
      currformhaid=formhaid;
      if (confirm("Are you sure you want to collapse (remove) this category?")) {
         getFrameByName('wmframe').location.replace('removecat.futil');
      }   
   }
   function profileMenu(dtprofileid) {
      getFrameByName('wmframe').location.href('profilemenu.futil?dtprofileid=' + dtprofileid);
   }
   function profileEdit(dtprofileid) {
      getFrameByName('wmframe').location.href('modifyprofile.futil?dtprofileid=' + dtprofileid);
   }
   function profileDelete(dtprofileid,profileacr) {
      if (confirm("Are you sure you want to delete this profile [" + profileacr + "]?")) {
         getFrameByName('wmframe').location.href('removeprofilesubmit.futil?dtprofileid=' + dtprofileid);
      }   
   }
   </script>

   <HEAD><TITLE>FORMS EditFormRecord Controller</TITLE></HEAD>
   <BODY bgcolor=$bgcolor background="$bgimage" onLoad="ls()" >

#parse("WinMenu.vm")

<div class="ui">
 <div class="content" style="width:90%;">
  <div class="t"></div>
  <!-- Your content goes here -->

      <table class=maintable>
        <tr valign=top>
        <td class=headerleft>
        #include("CornerImage.vm")
        </td>
        <td class=headercenter>
        <br>
      <H2><nobr>Select Record from List</nobr></H2>
        <p>
        </td>
        <td class=headerright>
        #parse("ButtonsOABNLH.vm")
        </td>
        <tr>
        <td height=100% colspan=3 valign=top style="padding-top:0">

     <IFRAME src="editformrecordrows.do" height=100% width=99% scrolling="auto" class="rowcontent"
       marginheight="0" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
       id="thisframe" name="thisframe" style="visibility:hidden" onload="document.getElementById('thisframe').style.visibility='visible';">
     </IFRAME>

        </td>
        </tr>
      </table>

 </div>
 <div class="b" style="width:90%"><div></div></div>
</div>

   </BODY>
   </HTML>

#elseif ($status=='SORT')

  <html>
  <body bgcolor=#CCCCCC>
  </body>
  </html>
  <script>
     parent.location.replace("selectform.do");
  </script>   

#elseif ($status=='OPTIONS')

  <html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <BODY bgcolor=$bgcolor background="$bgimage" >
  </body>
  </html>
  <script>
     parent.location.replace("selectform.do");
  </script>   

#elseif ($status=='DELETED')

  <script>
     window.history.go(-1);
  </script>

#elseif ($status=='CANTCONNECT')

  <script>
     alert("Cannot connect to server at this time");
     window.history.go(-1);
  </script>

#end

